

    <input type="checkbox" @bind="MostrarBotones"/> 
    <span>
        Mostrar botones
    </span>
    
    <ListadoGenerico Listado="Peliculas">
        <HayRegistros Context="pelicula">
            <PeliculaIndividual Pelicula="pelicula" 
            EliminarPelicula="EliminarPelicula"
            MostrarBotones="MostrarBotones" />
        </HayRegistros>
    </ListadoGenerico>
    


@code {
    [Parameter]
    [EditorRequired]
    public List<Pelicula>? Peliculas { get; set; }

    [Parameter]
    public RenderFragment Cargando { get; set; } = null!;

    [Parameter]
    public RenderFragment NoHayRegistros { get; set; } = null!;

    bool MostrarBotones = true;

    private void EliminarPelicula(Pelicula pelicula)
    {
        Console.WriteLine("Eliminando una pelicula");
        Peliculas!.Remove(pelicula);
    }
}
