@page "/"
@inject ServiciosSingleton singleton
@inject IRepositorio repositorio


<p>Valor del singleton: @singleton.Valor</p>

<div>
    <h3>Pelicula</h3>
    <ListadoPeliculas Peliculas="Peliculas"/>
</div>

<button @onclick="AgregarPelicula">Agregar pelicula</button>

@code {

    public List<Pelicula>? Peliculas{ get; set; }

    protected override void OnInitialized()
    {
        Peliculas = repositorio.ObtenerPeliculas();
    }

    private void AgregarPelicula()
    {
        Peliculas!.Add(new Pelicula { Titulo = "Nuevo", FechaLanzamiento = DateTime.Today });
    }
}