@page "/"

<div>
    <h3>Pelicula</h3>
    <ListadoPeliculas Peliculas="Peliculas"/>
</div>

<button @onclick="AgregarPelicula">Agregar pelicula</button>

@code {

    public List<Pelicula>? Peliculas{ get; set; }

    protected override void OnInitialized()
    {
        Peliculas = ObtenerPeliculas();
    }

    List<Pelicula> ObtenerPeliculas()
    {
        return new List<Pelicula>()
        {
            new Pelicula{Titulo = "Wakanda Forever", FechaLanzamiento = new DateTime(2022, 11, 11)},
            new Pelicula{Titulo = "Moana", FechaLanzamiento = new DateTime(2016, 11, 23)},
            new Pelicula{Titulo = "Inception", FechaLanzamiento = new DateTime(2010, 7, 16)},
        };
    }
    private void AgregarPelicula()
    {
        Peliculas!.Add(new Pelicula { Titulo = "Nuevo", FechaLanzamiento = DateTime.Today });
    }
}